.env
*.env
.venv/
env/
venv/

# python
__pycache__/
*.py[cod]  
*.json     
output.txt 

# db
*.db
foundation_foods.db
usda_pretty.json
foundationDownload/

# test
.pytest_cache/
tests/__pycache__/

# react frontend
frontend/node_modules/
frontend/build/

legacy/__pycache__/

*.log
*.tmp
*.swp
*.DS_Store      
Thumbs.db       

# special files
api_key.txt

# legacy folder
legacy/