api_key.txt
foundationDownload
usda_pretty.json
foundation_foods.db
calorie_killer.py
usdaQuery/__pycache__/
OpenFoodApi/__pycache__/
tests/__pycache__/
.pytest_cache
*.json
output.txt
legacy/__pycache__/
__pycache__/